/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body{
   padding: 0;
   margin: 0;
   text-align: center;
 }

 *, a{
   color: #130f40;
   font-family: Helvetica;
 }

 a{
   text-decoration: none;
 }

.error{
  color: white;
  background: #eb4d4b;
}

.success{
  color: white;
  background: #22a6b3;
}

.message{
  border-radius: .3em;
  padding: .5em;
  width: 80%;
  margin: auto;
}

.flash-cntnr{
  height: 3em;
  padding-top: 1em;
}

.informations-cntnr{
  position: absolute;
  top: 2em;
  width: 10em;
  left: 2em;
}

ul{
  margin: 0;
  padding: 0;
}

li{
  list-style: none;
}

.informations-cntnr div{
  background: white;
  border-bottom: 2px solid rgba(204,204,204,.5);
  padding: .4em 1em;
  margin-top: 1em;
  border-radius: .3em;
}

.informations-cntnr div p{
  border: 1px solid transparent;
  text-align: left;
  font-weight: bold;
  padding: .7em;
  margin: 0;
}

.informations-cntnr div p span{
  font-size: 1em;
  color: #4834d4;
  padding: .5em 0;
  width: 2em;
  text-align: center;
  border-radius: 50%;
  float: right;
  margin-top: -.5em;
  font-weight: bold;
  background: rgba(204,204,204,.5);
  border-bottom: 2px solid rgba(154,154,154,.5);
}

.informations-cntnr p, .informations-cntnr li{
  font-size: .9em;
}

.informations-cntnr li{
  border-bottom: 1px dashed black;
  font-size: .8em;
  padding: .8em .3em;
}

.informations-cntnr li img{
  width: 1em;
}

.informations-cntnr li:last-of-type{
  border: none;
}

.building-cntnr{
  bottom: 0;
  position: absolute;
  width: 16em;
  right: 0;
}

.building{
  width: 10em;
  padding-top: .2em;
  text-align: center;
  border-top-left-radius: .3em;
  border-top-right-radius: .3em;
  background: rgb(35,79,122);
  bottom: 0;
  right: 0;
}

select{
  background: white;
  font-size: 1em;
}

input{
  background: white;
  padding: .5em 1em .4em 1em;
  border-radius: .2em;
  cursor: pointer;
  font-weight: bold;
  border: none;
  border-bottom: 2px solid rgba(204,204,204,.5);
  vertical-align: .2em;
}

.floor-cntnr{
  background: rgb(93,163,180);
  border-bottom: 2px solid rgb(35,79,122);
  margin: auto;
  width: 6em;
  height: 6em;
  position: relative;
}

.people-cntnr{
  height: 6em;
  padding: 1em;
  width: 4em;
  position: absolute;
  margin-left: 8em;
}

.people-cntnr img{
  width: 1.5em;
  height: 1.5em;
  padding: .3em;
  border-radius: 50%;
  background: white;
  display: inline-block;
  margin-top: -2em;
}

body{
  display: flex;
  background: rgb(246,74,113);
  border-bottom: 50px solid #6ab04c;
}

.elevators-cntnr{
  margin-top: 3.5em;
  position: relative;
  flex:1;
  height: 86vh;
}

.elevators-cntnr:first-of-type{
  border-right: 3px dashed white;
}

.elevator{
  width: 5em;
  height: auto;
  bottom: 0;
  position: absolute;
  left: .5em;
}

.floor-num{
  color: white;
  position: absolute;
  margin-top: 2.5em;
  margin-left: -1.3em;
}

.floor-cntnr:last-of-type{
  border-bottom: none;
}

.refresh{
  position: absolute;
  background: #badc58;
  border-bottom: 2px solid #6ab04c;
  cursor: pointer;
  left: 2em;
  top: 2em;
  padding: .5em .5em .35em .5em;
  border-radius: .3em;
}

.refresh img{
  width: 1.3em;
}
